.main {
    text-align: center;
    padding: 40px;
    margin-top: -10px;
    border-bottom: 1px solid #DDDDDD;
}

.main2 {
    background-color: rgb(233, 137, 137);
}

body {
    background-color: rgb(192, 226, 69);
    margin: 0;
}

.container {
    width: 100%;
    padding: 20px;
}

.leftbox {
    width: 68%;
    float: left;
    background: #cce65a;
}

.image1 {
    padding: 0px;
    background-image: url("park.jpg");
    height: 160px;
}

.image2 {
    padding: 0px;
    background-image: url("park2.jpg");
    height: 50px;
}

.leftboxcontent {
    padding: 20px;
}

.middlespace {
    width: 3%;
    float: left;
}

.rightbox {
    width: 25%;
    float: left;
}

.rightboxcontent1 {
    background-color: #e28282;
    width: 100%;
}

.rightboxcontent1a {
    padding: 20px;
}

.rightboxcontent2 {
    background-color: #1f1717;
    width: 100%;
}

.rightboxcontent2a {
    padding: 20px;
}